@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ECommercePlateform.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
</div>
<br />
<table>
    <tr>
        <td class="mr-3 pb-3">
            <img src="data:image;base64,@System.Convert.ToBase64String(@Model.Pictures)" style="border:solid; height:300px" />
        </td>
        <td>&nbsp;</td>  
        <td style="vertical-align: top; text-align:left;">
        <span><b>@Html.DisplayNameFor(model => model.Description):</b></br><span>@Html.DisplayFor(model => model.Description)</span></span>
        </br>
            <b>@Html.DisplayNameFor(model => model.Price):</b>
            @if (SignInManager.IsSignedIn(User))
            {
                <span>
                    @Model.Price.ToString("C2")
                </span>
            }
            else {
            <span> class="col-sm-10">
                <a class="nav-link nav-link" asp-area="Identity" asp-page="/Account/Login">Please sign in to view the price.</a>
            </span>
            }
            <br />
            <span><b>@Html.DisplayNameFor(model => model.Color):</b>&nbsp;<span>@Html.DisplayFor(model => model.Color)</span></span>
            <br />
            <span><b>@Html.DisplayNameFor(model => model.Quantity):</b>&nbsp;<span>@Html.DisplayFor(model => model.Quantity)</span></span>
            @if(@Model.Quantity == 0)
            {
                <p style="color:red;">No more in stock</p>
            }
            <br />
            <span><b>@Html.DisplayNameFor(model => model.Category)</b>&nbsp;<span>@Html.DisplayFor(model => model.Category.CategoryName)</span></span>
        </td>
    </tr>
</table>
<div>
    @*Add to cart function*@
    @if (User.IsInRole("Client"))
    {
        <a asp-controller="Cart" asp-action="AddOne" asp-route-id="@Model.ProductId" class="btn btn-primary">Add to cart</a>
    }
    else if (User.IsInRole("Admin"))
    {
        <a asp-controller="Products" asp-action="Edit" asp-route-id=@Model.ProductId class="btn btn-primary">Edit Product</a>
        <a asp-controller="Products" asp-action="Delete" asp-route-id=@Model.ProductId class="btn btn-secondary">Delete Product</a>
    }
    else 
    {
        <a class="nav-link nav-link" asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Please sign in to add to cart</a>
    }
    <a asp-action="Index" class="btn btn-secondary">View All Products</a>
    <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id="@Model.CategoryId" class="btn btn-info">View @Model.Category.CategoryName</a>
</div>
