@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ECommercePlateform.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        @if (SignInManager.IsSignedIn(User))
        {
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        }
        else {
            <dd class="col-sm-10">
                <a class="nav-link nav-link" asp-area="Identity" asp-page="/Account/Login">Please sign in to view the price.</a>
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>
        <dd class = "col-sm-10">
            <img style="width:350px;height:350px; object-fit:cover" src="data:image;base64,@System.Convert.ToBase64String(@Model.Pictures)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    @*Add to cart function*@
    @if (User.IsInRole("Client"))
    {
        <a asp-controller="Cart" asp-action="AddOne" asp-route-id="@Model.ProductId">Add to cart</a>
    }
    else if (User.IsInRole("Admin"))
    {
        <a asp-controller="Products" asp-action="Edit" asp-route-id=@Model.ProductId class="btn btn-primary">Edit Product</a>
        <a asp-controller="Products" asp-action="Delete" asp-route-id=@Model.ProductId class="btn btn-primary">Delete Product</a>
    }
    else 
    {
        <a class="nav-link nav-link" asp-area="Identity" asp-page="/Account/Login">Please sign in to add to cart</a>
    }
    <a asp-action="Index">View All Products</a>
    <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id="@Model.CategoryId">View @Model.Category.CategoryName Products</a>
</div>
