@model IEnumerable<ECommercePlateform.Models.Category>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card h-100" style="width: 18rem;">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" class="card-img-top" />
                    @*<img src="media/@item.CategoryName/CategoryImage.jpg" class="card-img-top" />*@
                    <div class="card-body">
                        <h5 class="card-title">@item.CategoryName)</h5>
                        <p class="card-text">@item.Description)</p>
                        <a href="#" class="btn btn-primary">View @item.CategoryName Products</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
