@model CartViewModel
@{
}
<div class="container cart">
    @if (Model.CartProducts.Count > 0)
    {
        @foreach (var item in Model.CartProducts)
        {
            <div class="row justify-content-evenly">
                <div class="col-4 mt-2">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="height: 5rem;" />
                </div>
                <div class="col-7 mt-2">
                    <p>@item.Name</p>
                    <p>Color: @item.Color</p>
                    <p>Quantity:</p>
                    <a class="btn btn-primary" role="button" asp-controller="Cart" asp-action="RemoveOne" asp-route-id="@item.ProductId">-</a>
                    <p>@item.Quantity</p>
                    @if (@ViewData["productQty"] == null)
                    {
                        <span><a class="btn btn-primary" role="button" asp-controller="Cart" asp-action="AddOne" asp-route-id="@item.ProductId">+</a></span>
                    }
                    else
                    {
                        <span><a asp-controller="Cart" asp-action="AddOne" asp-route-id="@item.ProductId">No more stock</a></span>
                    }
                    <p>Price: @item.Price.ToString("C2")</p>
                    <p>Total: @Model.CartProducts.Where(p => p.ProductId == item.ProductId).Sum(p => p.Quantity * p.Price).ToString("C2")</p>
                    <a asp-controller="Cart" asp-action="RemoveProduct" asp-route-id="@item.ProductId">Remove Product</a>
                </div>
            </div>
        }
        <p>Cart Total: @Model.TotalPrice.ToString("C2")</p>
        <a asp-controller="Orders" asp-action="CreateProductList" asp-route-total="@Model.TotalPrice">Buy</a>
    }
    else
    {
        <p>Cart is currently empty.</p>
    }
</div>

@*<div >
    @if (Model != null)
    {
        <p>Quantity: @Model.ProductCount</p>
        <p>Total: @Model.TotalPrice</p>
        <a asp-controller="Cart" asp-action="Index">Checkout</a>
    }
    else
    {
    <p>You cart is currently empty.</p>
    }
</div>*@