@model CartViewModel
@{
}
<div class="container cart">
    @if (Model.CartProducts.Count > 0)
    {
        @foreach (var item in Model.CartProducts)
        {
            <div class="row justify-content-evenly cart-row">
                <div class="col-4 mt-2">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="width: 125px;" />
                </div>
                <div class="col-7 mt-2">
                    <u style="font-weight: bold;">@item.Name</u>
                    <p><b>Color: @item.Color</b></p>
                    <b>Quantity:</b>
                    <span ><a class="btn btn-primary" role="button" asp-controller="Cart" asp-action="RemoveOne" asp-route-id="@item.ProductId">-</a></span>
                    <span style="background:white; padding: 6px 10px">@item.Quantity</span>
                    @if (@ViewData["productQty"] == null)
                    {
                        <span><a class="btn btn-primary" role="button" asp-controller="Cart" asp-action="AddOne" asp-route-id="@item.ProductId">+</a></span>
                    }
                    else
                    {
                        <span><a asp-controller="Cart" asp-action="AddOne" asp-route-id="@item.ProductId">No more stock</a></span>
                    }
                    <p style="font-weight: bold;">Price: @item.Price.ToString("C2")</p>
                    <p style="font-weight: bold;">Total: @Model.CartProducts.Where(p => p.ProductId == item.ProductId).Sum(p => p.Quantity * p.Price).ToString("C2")</p>
                    <a class="btn btn-warning" role="button" asp-controller="Cart" asp-action="RemoveProduct" asp-route-id="@item.ProductId">Remove Product</a>
                </div>
            </div>
        }
        <p style="font-weight: bold;">Cart Total: @Model.TotalPrice.ToString("C2")</p>
        <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Checkout Page</a>
    }
    else
    {
        <p>Cart is currently empty.</p>
    }
</div>