@model IEnumerable<ECommercePlateform.Models.Category>

@{
    ViewData["Title"] = "Default";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card h-100" style="width: 18rem;">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
                    <div class="card-body">
                        <h5 class="card-title">@item.CategoryName</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-controller="Products" asp-action="ProductsOfCategory" asp-route-id=@item.CategoryId class="btn btn-primary">View Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*
<h1>Default</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
